<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samenduurzaam | Artiekelen</title>

    <style>

        #artiekelen {
            width: 50%;
            background-color: lightgrey;
            margin: 0 auto;
            padding: 20px;
            font-size: 24px;
        }

        a {
            text-decoration: underline;
            color: rgb(30, 30, 30);
        }

        h2 {
            padding: 0;
            margin: 0;
            font-size: 32px;
        }

    </style>

</head>
<body>
    
    <div id="artiekelen">

        <h1>Onze Artiekelen</h1>

        {% for artiekel in artiekelen %}

        <h2><a href="/artiekel?name={{ artiekel.link }}">{{ artiekel.title }}</a></h2>
        {{ artiekel.content[:150] }}... <a href="/artiekel?name={{ artiekel.link }}">lees verder</a><br><br>

        {% endfor %}

    </div>

</body>
</html>